* {
  box-sizing: border-box;
}

body {
  background-image: url('https://img.freepik.com/free-photo/cinema-with-popcorn-box_23-2148133612.jpg?semt=ais_hybrid&w=740&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #e5e7eb;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6); /* dark overlay */
  z-index: -1;
}
